<!DOCTYPE html>
<html>
    <head>
        <title> Date Night with <%=@from%></title>
        <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
        <link rel="stylesheet" type="text/css" href="css/datenight.css" />
    </head>

    <body style = "margin-top:140px;">
        <div class="container">
                    <img id='sunset' src="sunset.jpg"/> 
                    <h1> <%=@to%>, <%=@message%> <%=@place%>?</h1>
                    <p>
                        <em> - <%=@from%> x </em> 
                    </p>
                </div>
             </div>
        </div>
    </body>
</html>